/* general.css */
/* 2023/8/5 */
* {
    margin: 0;
    scroll-behavior: smooth;
    /* v3.0.0 新增 */
}

a {
    text-decoration: none;
    color: #707070;
}

div p {
    font-size: 22px;
}

#TYPINGAREA {
    width: auto;
    margin: 10px;
    position: absolute;
    z-index: 0;
}

#TYPINGAREA * {
    white-space: nowrap;
}

#LISTAREA {
    position: fixed;
    right: 0;
}

#displayKey {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#speedDisplayer {
    text-shadow: 1px 1px 2px #000000;
}

#TELESCOPEAREA {
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

#telescope {
    white-space: nowrap;
    padding-left: 3px;
    padding-right: 3px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#typingRecordList {
    padding: 6px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: scroll;
}

#_author_,
#_title_ {
    display: block;
    text-align: center;
}

#_author_ {
    font-size: 20px;
}

.FunctionButton {
    display: inline;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 300ms;
    transition-property: all;
    font-size: 16px;
    margin: 2px 2px;
}

.floatingmenu {
    position: fixed;
    width: 25%;
    padding: 3px;
    border-radius: 7px;
}

.fixedmenu {
    position: fixed;
    width: 100%;
    height: fit-content;
    max-height: 19em;
    display: flex;
}

.content {
    margin: 5px;
    padding: 3px;
    border-radius: 7px;
}

#menu {
    z-index: 1;
    top: 0;
}

#footer {
    z-index: 1;
    bottom: 0;
}

.select_none {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.heads {
    border: 2px solid #000000;
    flex-basis: 32.5%;
}

.heads:nth-child(2) {
    flex-basis: 35%;
}

.feet {
    border: 1px solid #000000;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

::-moz-scrollbar {
    height: 12px;
    width: 12px;
}

::-webkit-scrollbar-corner {
    background-color: skyblue;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #00000040;
}

::-moz-scrollbar-corner {
    background-color: skyblue;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #00000040;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: skyblue;
    background-image: linear-gradient(135deg,
            #ffffff30 0%,
            #ffffff30 25%,
            transparent 25%,
            transparent 50%,
            #ffffff30 50%,
            #ffffff30 75%,
            transparent 75%,
            transparent);
    box-shadow: inset 0 0 5px #00000030;
}

::-moz-scrollbar-thumb {
    border-radius: 10px;
    background-color: skyblue;
    background-image: linear-gradient(135deg,
            #ffffff30 0%,
            #ffffff30 25%,
            transparent 25%,
            transparent 50%,
            #ffffff30 50%,
            #ffffff30 75%,
            transparent 75%,
            transparent);
    box-shadow: inset 0 0 5px #00000040;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px #00000040;
    background-color: #ededed30;
}

::-moz-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px #00000040;
    background-color: #ededed30;
}