/* uu-1.css */
/* "Classic" */
body {
    background-color: #fbe5b4;
    color: #3d2a00;
}

.FunctionButton {
    background-color: #f0f8ff;
    border: 3px solid #000000;
}

.FunctionButton:hover {
    background-color: #5a6161;
    color: #ffffff;
}

.FunctionButton:active {
    background-color: #ffd334;
    color: #3d2a00;
}

#displayKey {
    text-shadow: 2px 2px 3px #999999;
}

#_author_{
    color:#04007c;
    text-shadow: 0px 0px 3px #15b8ca;
}

.floatingmenu,
.content {
    background-color: #fff0cf;
    border: 3px solid #000000;
}

div span.TTC_correct {
    color: #009200;
    text-shadow: 0px 0px 1px #009200;
}

div span.TTC_incorrect {
    background-color: #ff000020;
    color: #ff2020;
    text-shadow: 1px 1px 2px #ff4d4d;
}

div span.TTC_none {
    color: #bbbbbb;
}