/* uu-1.css */
/* "Classic" */
body {
    background-color: #f7d791;
    color: #3d2a00;
}

.FunctionButton {
    background-color: #f0f8ff;
    border: 3px solid #000000;
}

.FunctionButton:hover {
    background-color: #805c10;
    color: #ffffff;
}

.FunctionButton:active {
    background-color: #ffd334;
    color: #3d2a00;
}

#inputElement {
    animation: shining infinite;
    animation-duration: 4s;
    animation-timing-function: linear;
}

#displayKey {
    text-shadow: 2px 2px 3px #999999;
}

#_author_{
    color:#04007c;
    text-shadow: 0px 0px 3px #15b8ca;
}

.floatingmenu,
.content {
    background-color: #edd7a8f8;
    border: 3px solid #000000;
}

div span.TTC_correct {
    color: #009200;
    text-shadow: 0px 0px 1px #009200;
}

div span.TTC_incorrect {
    background-color: #ff000020;
    color: #ff2020;
    text-shadow: 1px 1px 2px #ff4d4d;
}

div span.TTC_none {
    color: #b7b1a3;
}