/* uu-3.css */
/* "Aqua Bubbles" */
/* Aug. 14 2023 */

body {
    background-color: #c5fffa;
}

body * {
    color: #004046;
    text-shadow: 0px 0px 3px #e1fffa;
}

.FunctionButton {
    background-color: #a7fff8;
    border: 3px solid #000000;
}

.FunctionButton:hover {
    background-color: #3bee9a;
}

.FunctionButton:active {
    background-color: #fffa68;
}

#displayKey {
    text-shadow: 2px 2px 3px #e1fffa;
}

#_author_ {
    color: #00283d;
    text-shadow: 0px 0px 3px #076ce0;
}

.floatingmenu,
.content {
    background-color: #7cffdecf;
    border: 3px solid #383838;
    box-shadow: 0px 0px 12px #bcfdff;
}

div span.TTC_correct {
    animation: CorrectShining 2s linear infinite;
}

div span.TTC_incorrect {
    animation: RedErrorShining 1s linear infinite;
}

div span.TTC_none {
    color: #c7c7c7;
    text-shadow: none;
}